@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&display=swap");
.fondobase, .contprincipal, .alquilfondo, .tablafondo, .galeria {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden; }

/* mapas, los espacios dentro de los mapas es para organizarme mejor entre pagina y pagina */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  font-weight: 400; }

ul li {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block; }

/* Header para todas las paginas */
.positionhead {
  z-index: 10;
  /*Coloco la cabecer en superposicion al resto de los contenedores*/
  position: sticky !important;
  /*Dejo el header en posicion pegajosa*/
  top: 0px !important; }
  .positionhead .cabecera {
    background-size: cover;
    /*Hago que la foto ocupe todo el contenedor*/
    height: auto;
    width: auto;
    margin: 0;
    padding: 1vh 1vh;
    border-bottom: 5px solid #501111;
    background-image: linear-gradient(rgba(0, 0, 0, 0.774), rgba(16, 54, 1, 0.452)), url(../assets/Img/fondo1.jpg);
    /*Realizo una imagen de fondo con una capa gradiente por encima para que no se confundan los textos de adelante*/ }
    .positionhead .cabecera .logo {
      top: 0px;
      left: 10vw; }
    .positionhead .cabecera .flextitulo {
      display: flex;
      justify-content: flex-end; }
      .positionhead .cabecera .flextitulo .titulo {
        font-weight: bolder;
        color: white;
        -webkit-text-stroke: 2px black;
        /*Defino color, un borde al titulo, su posicion y el tamaño de la fuente*/ }
    .positionhead .cabecera .ulmod {
      height: 21vh;
      width: 100%;
      margin: 0;
      padding: 0;
      justify-content: flex-end;
      align-items: flex-end; }
      .positionhead .cabecera .ulmod .links {
        text-decoration: none;
        /*Le quito el subrayado a los links*/
        color: white !important;
        transition: underline 0.5s ease;
        -webkit-text-stroke: 0.2px black !important;
        margin: 0vh 2vh 0vh 0vh; }
        .positionhead .cabecera .ulmod .links:hover {
          color: #ff00f2 !important;
          text-decoration: underline; }

.contprincipal {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.774), rgba(16, 54, 1, 0.452)), url(../assets/Img/fondo.jpg);
  /*Deino posiciones a la imagen de fondo y oculto la barra de despazamiento del main*/ }
  .contprincipal .fairplay {
    display: flex;
    /* Define las posciones del contenedor de la imagen y el texto del Fair play */
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%; }
    .contprincipal .fairplay .confairplay {
      height: auto;
      width: 100%;
      margin: 4vh 3vh 0vh 4vh;
      padding: 1vh;
      /* Define propiedades del texto de Fair play */ }
    .contprincipal .fairplay .imgfair {
      align-self: flex-end;
      /* Define las propiedades de la imagen de Fair play */
      margin: 4vh 0vh 4vh 10vh;
      border: 5px solid rgba(116, 17, 17, 0.493); }
  .contprincipal .card-group {
    width: 80%;
    margin: 0 auto;
    /* Define propiedades del grupo de cards */
    text-align: center; }
    .contprincipal .card-group .card {
      height: auto;
      width: auto;
      margin: 7vh 5vh 0vh 5vh;
      padding: 3vh 0vh 0vh 0vh;
      background-image: linear-gradient(rgba(0, 0, 0, 0.932), rgba(85, 0, 0, 0.856));
      /* Define las propiedades de cada card */
      color: white;
      align-items: center; }
      .contprincipal .card-group .card .card-img-top {
        width: 80%;
        /* Define las imagenes de las cards */
        object-fit: cover; }
      .contprincipal .card-group .card .quitlinea {
        text-decoration: none;
        /* Quita el subrayado del link de "Inscribite" de la card */
        color: white; }
  .contprincipal .repasa {
    height: auto;
    width: auto;
    margin: 13vh 13vw;
    padding: 1vh;
    border-radius: 10px 100px/120px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.932), rgba(85, 0, 0, 0.856));
    text-align: center;
    text-decoration: underline;
    /*Subrayo el titulo al video*/ }
    .contprincipal .repasa .repasa1 {
      padding: 2vh;
      background-color: rgba(0, 0, 0, 0); }

.alquilfondo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.774), rgba(16, 54, 1, 0.452)), url(../assets/Img/pikrepo.jpg);
  /*DeFino posiciones a la imagen de fondo y oculto la barra de despazamiento del main*/ }
  .alquilfondo .contmap {
    height: auto;
    width: 40%;
    margin: 5vh;
    padding: 4vh;
    /* Defino propiedades del mapa de la ubicacion del lugar */
    background-image: linear-gradient(rgba(0, 0, 0, 0.932), rgba(85, 0, 0, 0.856));
    border-radius: 100px 10px/120px;
    text-align: center; }

.tablafondo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.774), rgba(16, 54, 1, 0.452)), url(../assets/Img/pikrepo.jpg);
  /*Defino posiciones a la imagen de fondo y oculto la barra de despazamiento del main*/ }
  .tablafondo .tabla {
    background-image: linear-gradient(rgba(0, 0, 0, 0.932), rgba(85, 0, 0, 0.856));
    border: rgba(241, 0, 0, 0.589); }
  .tablafondo .repasa_dias {
    height: auto;
    width: auto;
    margin: 13vh 13vw;
    padding: 1vh;
    border-radius: 10px 100px/120px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.932), rgba(85, 0, 0, 0.856));
    text-align: center;
    text-decoration: underline;
    /*Subrayo el titulo al video*/ }
    .tablafondo .repasa_dias .repasa1_dias {
      padding: 2vh;
      background-color: rgba(0, 0, 0, 0); }

.descclases {
  background-image: linear-gradient(rgba(0, 0, 0, 0.932), rgba(85, 0, 0, 0.856));
  /* Defino contenedor del texto de la pagina Inscribite */
  border-radius: 100px 10px/120px; }

.galeria {
  background-image: linear-gradient(rgba(0, 0, 0, 0.774), rgba(16, 54, 1, 0.452)), url(../assets/Img/pikrepo.jpg);
  text-align: center;
  padding: 5em;
  color: white;
  text-decoration: underline; }
  .galeria .carousel {
    width: 80%; }
    .galeria .carousel .tamaño {
      object-fit: cover;
      height: 100vh; }

.diseño {
  background-color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.932), rgba(85, 0, 0, 0.856)); }
  .diseño .iconoig {
    font-size: 1.5rem;
    color: white;
    -webkit-text-stroke: 0.5px black; }

@media screen and (max-width: 768px) {
  /* RESPONSIVE INDEX */
  .contprincipal .fairplay {
    display: flex;
    /* Define las posciones del contenedor de la imagen y el texto del Fair play */
    flex-direction: column;
    width: 100%; }
    .contprincipal .fairplay .confairplay {
      height: auto;
      width: 100%;
      margin: 2vh;
      padding: 2vh;
      /* Define propiedades del texto de Fair play */
      flex-direction: column; }
    .contprincipal .fairplay .imgfair {
      align-self: center;
      margin: 2vh;
      /* Define las propiedades de la imagen de Fair play */
      border: 5px solid rgba(116, 17, 17, 0.493);
      height: auto;
      width: 70%;
      margin: 2vh;
      padding: 0vh; }
  .contprincipal .card-group {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    /* Define propiedades del grupo de cards */
    text-align: center; }
    .contprincipal .card-group .card {
      height: auto;
      width: 100%;
      margin: 5vh 0vh 5vh 0vh;
      padding: 2vh 0vh 0vh 0vh;
      background-image: linear-gradient(rgba(0, 0, 0, 0.932), rgba(85, 0, 0, 0.856));
      /* Define las propiedades de cada card */
      color: white;
      align-items: center; }
      .contprincipal .card-group .card .card-img-top {
        width: 75%;
        /* Define las imagenes de las cards */
        object-fit: cover; }
      .contprincipal .card-group .card .quitlinea {
        text-decoration: none;
        /* Quita el subrayado del link de "Inscribite" de la card */
        color: white; }
  .contprincipal .repasa {
    height: auto;
    width: auto;
    margin: 2vh;
    padding: 1vh;
    border-radius: 10px 100px/120px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.932), rgba(85, 0, 0, 0.856));
    text-align: center;
    text-decoration: underline;
    /*Subrayo el titulo al video*/ }
    .contprincipal .repasa .repasa1 {
      width: 90% !important;
      padding: 1vh;
      background-color: rgba(0, 0, 0, 0); }
  /* RESPONSIVE Dias Y HORAS */
  .tablafondo .tabla {
    background-image: linear-gradient(rgba(0, 0, 0, 0.932), rgba(85, 0, 0, 0.856));
    border: rgba(241, 0, 0, 0.589); }
  .tablafondo .repasa_dias {
    height: 100%;
    width: 100%;
    margin: 1vh;
    padding: 2vh;
    border-radius: 10px 100px/120px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.932), rgba(85, 0, 0, 0.856));
    text-align: center;
    text-decoration: underline;
    /*Subrayo el titulo al video*/ }
    .tablafondo .repasa_dias .repasa1_dias {
      width: 100% !important;
      background-color: rgba(0, 0, 0, 0); }
  /* RESPONSIVE ALQUILANOS */
  .alquilfondo {
    height: 100%;
    width: 100%;
    margin: 0vh;
    padding: 0vh; }
    .alquilfondo .secmedia {
      justify-content: start;
      flex-direction: column !important; }
      .alquilfondo .secmedia .contmap {
        height: 100%;
        width: 100%;
        margin: 1vh;
        padding: 5vh;
        /* Defino propiedades del mapa de la ubicacion del lugar */
        background-image: linear-gradient(rgba(0, 0, 0, 0.932), rgba(85, 0, 0, 0.856));
        border-radius: 100px 10px/120px;
        text-align: center; }
      .alquilfondo .secmedia .mapasmedia {
        height: 40vh;
        width: 100vh;
        margin: 2vh !important;
        padding: 1vh; }
  /* RESPONSIVE PAGINAS - GALERIA E INSCRIBITE */
  .formular {
    flex-direction: column;
    width: 80%; }
  .galeria {
    background-image: linear-gradient(rgba(0, 0, 0, 0.774), rgba(16, 54, 1, 0.452)), url(../assets/Img/pikrepo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 0;
    margin: 0;
    color: white;
    text-decoration: underline; }
    .galeria .editcar {
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 0;
      margin: 0;
      height: auto;
      object-fit: cover; }
      .galeria .editcar .tamaño {
        width: 100% !important;
        padding: 0;
        margin: 0;
        object-fit: cover;
        height: 55vh; }
  /* RESPONSIVE - HEADER */
  .positionhead {
    z-index: 10;
    /*Coloco la cabecer en superposicion al resto de los contenedores*/
    position: sticky !important;
    /*Dejo el header en posicion pegajosa*/
    top: 0px !important; }
    .positionhead .cabecera {
      z-index: 10;
      /*Coloco la cabecer en superposicion al resto de los contenedores*/
      background-size: cover;
      /*Hago que la foto ocupe todo el contenedor*/
      position: sticky;
      /*Dejo el header en posicion pegajosa*/
      top: 0px;
      height: auto;
      /*Defino la altura del header*/
      padding: 2vh 2vh;
      border: 1px solid #4b0606;
      background-image: linear-gradient(rgba(0, 0, 0, 0.774), rgba(16, 54, 1, 0.452)), url(../assets/Img/fondo1.jpg);
      /*Realizo una imagen de fondo con una capa gradiente por encima para que no se confundan los textos de adelante*/ }
      .positionhead .cabecera .logo {
        height: 12vh;
        width: 15vh; }
      .positionhead .cabecera .flextitulo {
        display: none; }
        .positionhead .cabecera .flextitulo .titulo {
          display: none; }
      .positionhead .cabecera .ulmod {
        width: 100%;
        height: auto;
        justify-content: flex-end;
        align-items: flex-end; }
        .positionhead .cabecera .ulmod .links {
          color: white !important;
          margin: none; }
          .positionhead .cabecera .ulmod .links:hover {
            color: black !important;
            text-decoration: underline; } }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* RESPONSIVE INDEX */
  .contprincipal .fairplay {
    display: flex;
    /* Define las posciones del contenedor de la imagen y el texto del Fair play */
    flex-direction: row;
    justify-content: space-evenly;
    height: auto;
    width: 100%;
    margin: 2vh;
    padding: 4vh; }
    .contprincipal .fairplay .confairplay {
      height: auto;
      width: 80%;
      margin: 4vh 3vh 0vh 4vh;
      padding: 1vh;
      /* Define propiedades del texto de Fair play */ }
    .contprincipal .fairplay .imgfair {
      align-self: center;
      /* Define las propiedades de la imagen de Fair play */
      border: 5px solid rgba(116, 17, 17, 0.493);
      height: auto;
      width: 40%;
      margin: 4vh;
      padding: 0vh; }
  .contprincipal .card-group {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 5vh auto;
    /* Define propiedades del grupo de cards */
    text-align: center; }
    .contprincipal .card-group .card {
      height: auto;
      width: 100%;
      margin: 5vh 0vh 5vh 0vh;
      padding: 2vh 0vh 0vh 0vh;
      background-image: linear-gradient(rgba(0, 0, 0, 0.932), rgba(85, 0, 0, 0.856));
      /* Define las propiedades de cada card */
      color: white;
      align-items: center; }
      .contprincipal .card-group .card .card-img-top {
        width: 75%;
        /* Define las imagenes de las cards */
        object-fit: cover; }
      .contprincipal .card-group .card .quitlinea {
        text-decoration: none;
        /* Quita el subrayado del link de "Inscribite" de la card */
        color: white; }
  /* RESPONSIVE - HEADER */
  .positionhead {
    z-index: 10;
    /*Coloco la cabecer en superposicion al resto de los contenedores*/
    position: sticky !important;
    /*Dejo el header en posicion pegajosa*/
    top: 0px !important; }
    .positionhead .cabecera {
      z-index: 10;
      /*Coloco la cabecer en superposicion al resto de los contenedores*/
      background-image: linear-gradient(rgba(0, 0, 0, 0.774), rgba(16, 54, 1, 0.452)), url(../assets/Img/fondo1.jpg);
      /*Realizo una imagen de fondo con una capa gradiente por encima para que no se confundan los textos de adelante*/
      background-size: cover;
      /*Hago que la foto ocupe todo el contenedor*/
      position: sticky;
      /*Dejo el header en posicion pegajosa*/
      top: 0px;
      height: auto;
      /*Defino la altura del header*/
      padding: 2vh 2vh;
      border: 1px solid #4b0606; }
      .positionhead .cabecera .logo {
        height: 12vh;
        width: 15vh; }
      .positionhead .cabecera .flextitulo {
        display: none; }
        .positionhead .cabecera .flextitulo .titulo {
          display: none; }
      .positionhead .cabecera .ulmod {
        width: 100%;
        height: auto;
        justify-content: flex-end;
        align-items: flex-end; }
        .positionhead .cabecera .ulmod .links {
          color: white !important;
          margin: none; }
          .positionhead .cabecera .ulmod .links:hover {
            color: black !important;
            text-decoration: underline; }
  /* RESPONSIVE PAGINAS - GALERIA E INSCRIBITE */
  .formular {
    flex-direction: column;
    width: 80%; }
  .galeria {
    background-image: linear-gradient(rgba(0, 0, 0, 0.774), rgba(16, 54, 1, 0.452)), url(../assets/Img/pikrepo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 0;
    margin: 0;
    color: white;
    text-decoration: underline; }
    .galeria .editcar {
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 0;
      margin: 0;
      height: auto;
      object-fit: cover; }
      .galeria .editcar .tamaño {
        width: 100% !important;
        padding: 0;
        margin: 0;
        object-fit: cover;
        height: 100vh; } }
